aside {
  display: none;
}

@media SCREEN and (min-width: 768px) {

}

@media SCREEN and (min-width: 1025px) {
  aside {
    display: inline-block;
    width: 300px;
    position: absolute;
    top: 614px;
    right: 0;
    float: right;
  }

  .eui-widget-title {
    font-family: "Just another hand";
    font-size: 3em !important;
    color: #1c96c5;
    font-weight: normal !important;
  }

  #kill {
    position: relative;
  }
  .kill {
    position: absolute;
    top: -50px;
    display: block;
    width: 100%;
    height: 45px;
    background: #fff;
    z-index: 100000 !important;
  }


}
