aside {
  display: none;
}

@media SCREEN and (min-width: 1025px) {

  .actu {
    padding: 40px;
    text-align: center
  }
  aside {
    display: flex;
    height: 800px;
    justify-content: space-between;
    margin-left: calc(-100vw / 4 + 1025px / 4);
    margin-right: calc(-100vw / 4 + 1025px / 4);
    width: 1500px;
  }

  aside > .div_insta, aside > .yt, aside > div.flickr {
    width: 285px;
  }
  .eui-widget-title {
    color: #1c96c5;
    font-family: "Just another hand";
    font-size: 3em !important;
    font-weight: normal !important;
  }
  .fb-page {
    margin-bottom: 20px;
  }

  .d_kill {
    position: relative;
  }
  .kill {
    background: #fff;
    display: block;
    height: 45px;
    position: absolute;
    top: -50px;
    width: 100%;
    z-index: 100000 !important;
  }

  .eapps-widget-toolbar {
    display: none !important;
  }
  .yottie-widget-header-channel-title > a {
    color: #e30d14 !important;
    font-family: "Just another hand";
    font-size: 1.5em !important;
  }

  .div_insta, .flickr {
    text-align: center;
  }
  .div_insta a, .flickr a {
    display: inline-block;
  }
  .div_insta a img, .flickr a img {
    margin-bottom: 5px;
    width: 25%;
  }
  .flickr a img {
    padding-top: 5px;
  }

}
