* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}
body {
  max-width: 1100px;
  margin: 0 auto;
  font-family: 'Roboto';
  color: #24292E;
}

img {
  max-width: 100%;
}

.jah_font {
  font-family: 'Just another hand';
  letter-spacing: 1.5px;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.clear {
  clear: both;
}
.pad_mob {
  padding: 15px;
}
.mar_bot_mob {
  margin-bottom: 60px;
}
.pre {
  white-space: pre-line;
}
.yellow {
  color: #ffcf01;
}
.green {
  color: #308f36;
}
.blue {
  color: #1c96c5;
}
.red {
  color: #e30d14;
}
