* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
}
body {
  max-width: 1400px;
  margin: 0 auto;
  font-family: 'Roboto';
  color: #24292E;
}
.color-0_8 {
  color: rgba(36, 41, 46, 0.8);
}
img {
  max-width: 100%;
}

.jah_font {
  font-family: 'Just another hand';
  letter-spacing: 1.7px;
}
a {
  text-decoration: none;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
.float_left {
  float: left;
}
.float_right {
  float: right;
}
.clear {
  clear: both;
}
.pad_mob {
  padding: 15px;
}
.mar_bot_mob {
  margin-bottom: 60px;
}
.pre {
  white-space: pre-line;
}
.yellow {
  color: #ffcf01;
}
.green {
  color: #308f36;
}
.blue {
  color: #1c96c5;
}
.red {
  color: #e30d14;
}
.bg-yellow {
  background-color: #ffcf01;
  color: #FFF;
}
.bg-green {
  background-color: #308f36;
  color: #FFF;
}
.bg-blue {
  background-color: #1c96c5;
  color: #FFF;
}
.bg-blue-2 {
  background-color: #275390;
  color: #FFF;
}

.bg-red {
  background-color: #e30d14;
  color: #FFF;
}
.bg-grey {
  background-color: #4f5357;
  color: #FFF;
}
.round-border {
  border-radius: 5px;
}
.container {
  max-width: 1100px;
}
.strong {
  font-weight: 600;
}
.hover-off {
  transition: 0.5s;
}

main > h4 {
  font-weight: normal;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 1.4em;
}
main > h4 .fas {
  font-size: 2em;
  float: left;
  margin: -11px 15px 0;
}

#accueil > section:not(:last-child) {
  margin-bottom: 60px;
}

@media SCREEN and (min-width: 1025px) {
 body {
   position: relative;
 }
}

@media SCREEN and (min-width: 1100px) {
  main {
    display: inline-block;
    max-width: 1100px;
  }
}
