#inscription > section:not(#embarquez) {
  padding: 0 20px;
  margin-bottom: 50px;
}
#sec_inscri_prez {
  text-align: center;
}

#sec_inscri_prez > div:first-child {
  height: 252px;
  width: auto;
  position: relative;
  margin: 0 -20px 30px;
}
#sec_inscri_prez > div:first-child:before {
  background: url("../../resources/images/PageInscription/fond_ecc.jpg") no-repeat center center fixed;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: inherit;
  background-position-y: -2em;
  background-position-x: -35em;
}
#sec_inscri_prez > div:first-child div {
  position: relative;
  height: inherit;
}
#sec_inscri_prez div:first-child div > img {
  display: none;
}
#sec_inscri_prez > div:first-child div > div {
  position: absolute;
  padding: 20px;
  height: inherit;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
#sec_inscri_prez > div:first-child div > div > p {
  padding: 5px 10px;
}

.div_description p, .dl_docs {
  font-weight: bolder;
}
.div_description p:first-child {
  margin-bottom: 15px;
}
.div_description p:not(:first-child):not(:last-child) {
  margin-bottom: 5px;
}
.div_description p:last-child, .dl_docs {
  margin-top: 15px;
}
.dl_docs {
  font-size: 1.1em;
  padding: 10px;
}
.dl_docs .fas {
  margin-left: 25px;
}
#info_mail {
  font-size: 1.1em;
  margin-top: 5px;
}
#info_mail a {
  color: inherit;
  text-decoration: underline;
  margin-left: -4px;
}
#sec_inscri_infos > div {
  margin-bottom: 30px;
}
.title {
  padding: 5px;
  display: inline-block;
  width: 200px;
  text-align: center;
  transform: rotate(-5deg);
  font-weight: bold;
  margin-bottom: 20px;
}
.div_objectifs p {
  color: rgba(0,0,0,0.8);
}
.div_objectifs ul {
  padding: 0 20px;
}
.div_objectifs ul li {
  list-style-type: disc;
}
.div_infos_pratique div {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  margin-top: 15px;
}
.div_objectifs + div p:last-of-type {
  font-size: 0.8em;
}

@media SCREEN and (min-width: 768px) {


  #sec_inscri_prez > div:first-child {
    height: 252px;
  }
  #sec_inscri_prez > div:first-child:before {
    background-position-y: -21em;
  }
  #sec_inscri_prez > div:first-child div {
    height: inherit;
    display: flex;
  }
  #sec_inscri_prez > div:first-of-type div > img {
    display: block;
    margin-left: 13%;
    width: 20%;
    align-self: center;
  }
  #sec_inscri_prez > div:first-child div > div {
    flex-flow: row wrap;
    height: initial;
    width: 50%;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    padding-top: 15px;
  }
  #sec_inscri_prez > div:first-child div > div p:first-of-type {
    flex: 100%;
  }
  #sec_inscri_prez > div:first-child div > div p:not(:first-of-type) {
    margin-top: 5px;
  }
  #sec_inscri_prez > div:first-child div > div p:last-of-type {
    white-space: pre-line;
  }
  .dl_docs .fas {
    margin-left: 10px;
  }
  #sec_inscri_infos {
    display: flex;
    flex-flow: row wrap;
  }
  #sec_inscri_infos > div {
    width: 50%;
    padding: 15px;
    margin-bottom: 0;
  }
  .div_objectifs {
    margin-top: -90px;
  }
  .div_infos_pratique div {
    flex-flow: row wrap;
  }
}

@media SCREEN and (min-width: 1024px) {
  #sec_inscri_prez > div:first-child::before {
    background-position-y: -31em;
    background-position-x: -40em;
  }
  #sec_inscri_prez > div:first-of-type div > img {
    width: 16%;
  }
  #sec_inscri_prez > div:first-child div > div {
    width: 40%;
  }
}
@media SCREEN and (min-width: 1200px) {
  #inscription > section#sec_inscri_prez {
    padding: 0;
  }
  #sec_inscri_prez > div:first-child {
    height: 400px;
    margin-left: calc(-100vw / 2 + 1200px / 2 + 7.5px);
    margin-right: calc(-100vw / 2 + 1200px / 2 + 7.5px);
  }
  #sec_inscri_prez > div:first-child:before {
    background-position-y: -16em;
    background-position-x: 0em;
  }
  #sec_inscri_prez > div:first-child div {
    width: 1200px;
    margin: auto;
  }
  #sec_inscri_prez > div:first-of-type div > img {
    width: 21%;
    margin-left: 7%;
  }
  .title {
    width: 225px;
  }
}
