#a_propos > section:not(#sec_embarquez) {
  padding: 0 20px;
  margin-bottom: 50px;
}
#sec_de_capsaaa > h2, #sec_du_pacte > h2 {
  font-weight: normal;
  display: inline-block;
  background-color: #f2f2f2;
  margin-bottom: 25px;
  padding-right: 20px;
}
#sec_de_capsaaa > p, #sec_du_pacte > p {
  text-align: center;
  margin-bottom: 25px;
}
#div_capsaaa, #div_impact {
  position: relative;
  text-align: center;
}
#div_capsaaa:before, #div_impact:before {
  content: "";
  position: absolute;
  left: 50%;
  display: inline-block;
  height: 96%;
  border-right: 1px solid #1c96c5;
}
#div_capsaaa > *, #div_impact > *{
  position: relative;
}
#div_capsaaa > img {
  max-width: 40%;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}
#div_capsaaa div, #div_impact div{
  padding: 10px;
  border: 1px solid #f2f2f2;
  background-color: #fff;
  margin-bottom: 30px;
}

#div_capsaaa div:not(:nth-child(2)) p:not(:last-child) {
  margin-bottom: 15px;
}
#div_capsaaa div:not(:nth-child(2)) p:not(:first-child) {
  font-weight: 600;
}

#sec_pole_activites {
  text-align: center;
}
#sec_pole_activites > * {
  margin-bottom: 25px;
}
#sec_pole_activites > h3 {
  font-size: 2em;
}

.div_cap_activite {

  margin-bottom: 25px;
}
.div_cap_activite div {
  font-size: 1.5em;
  padding: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.div_cap_activite h4 {
  font-size: 1.5em;
  font-weight: 600;
}
.div_cap_activite p {
  background-color: #f2f2f2;
  padding: 10px;
}
.div_cap_activite li {
  list-style-type: circle;
}

.div_infos_capsaaa {
  text-align: center;
  max-width: 50%;
  margin: auto;
}
.div_infos_capsaaa > a {
  text-decoration: underline;
}
.div_infos_capsaaa > p:last-child {
  font-weight: 600;
}

#sec_du_pacte > p:nth-child(4) {
  margin: 0 -20px 20px;
  padding: 10px;
}

@media SCREEN and (min-width: 768px) {
  #a_propos {
    padding-top: 30px;
  }
  #sec_de_capsaaa > p, #sec_pole_activites > p {
    white-space: pre-line;
  }

  #div_capsaaa > img {
    max-width: 20%;
  }
  #div_capsaaa div {
    display: inline-block;
    padding: 15px;
  }

  .div_act {
    display: flex;
    flex-wrap: wrap;
  }
  .div_cap_activite {
    max-width: 40%;
    margin: 0 auto 25px;
    display: inline-block;
    vertical-align: top;
  }
  .div_cap_activite > div {
    min-height: 155px;
  }
  .div_cap_activite > div > ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80px;
  }
  .div_act > div > div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .div_cap_activite > p {
    min-height: 240px;
  }

  .div_infos_capsaaa {
    max-width: 25%;
  }

  #div_impact {
    margin: 30px;
    padding: 0
  }
}

@media SCREEN and (min-width: 1024px) {
  #a_propos {
    font-size: 1.1em;
  }
  #div_capsaaa > img {
    max-width: 15%;
  }

  .div_act {
    justify-content: space-evenly;
  }
  .div_cap_activite {
    position: relative;
    width: 50%;
    display: flex;
  }
  .div_act .item-a {
    justify-content: flex-end;
  }
  .div_act .item-a p {
    top: 20px;
    left: 0px;
  }
  .div_act .item-b {
    justify-content: flex-start;
  }
  .div_act .item-b p {
    top: -20px;
    right: 0;
  }
  .div_act .item-c {
    justify-content: flex-start;
  }
  .div_act .item-c p {
    top: 20px;
    left: -70px;
  }
  .div_act .item-d {
    justify-content: flex-end;
  }
  .div_act .item-d p {
    top: 20px;
    right: -60px;
  }
  .div_act .item-e {
    justify-content: center;
  }
  .div_act .item-e p {
    top: 20px;
  }
  .div_cap_activite > div, .div_cap_activite > p {
    border-radius: 30px;
  }
  .div_cap_activite > div {
    width: 340px;
    height: 240px;
    padding: 50px;
    z-index: 1;
  }

  .div_cap_activite > p {
    position: absolute;
    z-index: -1;
    width: 380px;
    transition: 1s;
    display: flex;
    align-items: center;
  }
  .div_cap_activite > div:hover + p, .div_cap_activite > div:hover + p:hover {
    z-index: 2;
    transition: transform 1s;
    transform: rotate(1 turn) scale(1.5);
  }
  .div_cap_activite > p:hover {
    z-index: 2;
    transition: transform 1s;
    transform: rotate(1turn) scale(1.5);
  }
  .div_cap_activite > div > ul {
    height: auto;
  }

  #div_impact div {
    max-width: 70%;
    margin: 0 auto 30px;
  }

  #a_propos > section:not(#sec_embarquez) {
    padding: 25px 20px 50px;
    margin-bottom: 50px;
  }

  #sec_pole_activites {
    position: relative;
  }

  #sec_pole_activites h3 {
    position: absolute;
    display: block;
    width: 100%;
    top: 445px;
    white-space: pre-line;
  }
  #sec_pole_activites > * {
    margin-bottom: 60px;
  }
}
