#sec_accueil {
  background: no-repeat url("../images/photo_accueil.png");
  background-position: center;
  text-align: center;
  color: #FFF;
  padding: 50px 54px;
  margin-bottom: 15px;
}

#sec_accueil h2 {
  margin-bottom: 15px;
}
#sec_accueil p {
  font-size: 1.5em;
}

.flexslider {
	background: inherit;
	border: none;
}
.flexslider img {
  max-width: 100%;
}

.flexslider video {
  max-width: 100%;
}
#accueil > h4 {
  font-weight: normal;
  margin-bottom: 15px;
  padding-left: 10px;
  font-size: 1.4em;
}
#accueil > h4 .fas {
  font-size: 2em;
  float: left;
  margin: -11px 15px 0;
}
#i_educap {
  color: #ffcf01;
}
#i_citoyen {
  color: #1c96c5;
}
#accueil > h4:after {
  content: "";
  display: block;
  clear: both;
}

/* Section Nombres  */
#sec_info_nbres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#sec_info_nbres div {
  max-width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;

}
#sec_info_nbres div img {
  max-width: 65%;
  margin: auto;
}
#sec_info_nbres div span {
  font-size: 2.5em;
}
#sec_info_nbres div p {
  color: #aeacaa;
  font-size: 2em;
}
#sec_info_nbres #div_info_ecoles {
  display: none;
}

/* Section Pilliers  */
#sec_piliers {
  background-color: rgba(54,173,128,0.2 );
  text-align: center;
}
#sec_piliers h4 {
  margin-bottom: 20px;
  color: #308f36;
  font-size: 2em;
}
#div_piliers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rec_pilier {
  background-color: #fff;
  margin: 0 auto 10px;
}
#div_piliers div:first-child {
  color: #1c96c5;
}
#div_piliers div:nth-child(2) {
  color: #e30d14;
}
#div_piliers div:last-child {
  color: #ffcf01;
}
#div_piliers div p {
  font-size: 1.6em;
  font-weight: 600;
  max-width: 340px;
  padding: 10px;
}

/* Section Citoyenneté tout au long de l'année */
#sec_citoyen {
  display: flex;
  flex-direction: column;
}
.div_cap {
  margin-bottom: 40px;
}
.div_cap h4, .div_cap h5 {
  text-align: center;
  margin-bottom: 20px;
}
.div_cap h4 {
  font-size: 2em;
}
.div_cap h5 {
  font-size: 1.3em;
}
.div_cap:first-child img:nth-child(2) {
  max-width: 70%;
  display: block;
  margin: auto;
}
.div_cap img:nth-child(2){
  max-width: 90%;
  display: block;
  margin: auto;
}
.div_cap img:nth-child(3) {
  max-width: 70%;
}

#a_savoir {
  text-align: center;
}
#a_savoir a {
  background: #1c96c5;
  color: #fff;
  padding: 10px;
}

/* Section Phrase */
#sec_phrase {
  background-color: #f3f3f3;
}
#sec_phrase img {
  display: block;
  margin: auto;
}
#div_phrase {
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
.phrase p {
  padding: 15px 30px 0;
  line-height: normal;
}
.phrase {
  position: relative;
}
.phrase:nth-child(2) img {
  bottom: -20px;
  position: absolute;
  right: 0;
  z-index: 0;
}
.phrase:nth-child(2) p {
  z-index: 1;
  position: relative;
}
.phrase img {
  max-width: 10%;
  margin: 5px;
}


/* Tablet */
@media SCREEN and (min-width: 768px) {
  #sec_accueil p {
    white-space: pre-line;
    font-size: 1.7em;
  }
  #accueil > h4 {
    font-size: 2em;
    color: rgba(36, 41, 46, 0.8);
  }
  #accueil > h4 .fas {
    margin: -15px 15px 0;
  }

  #sec_info_nbres {
    flex-wrap: nowrap;
  }
  #sec_info_nbres div {
    max-width: 25%;
  }
  #div_piliers {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .rec_pilier {
    display: none;
  }
  .circle_pilier {
    display: block;
    margin: 0;
    border-radius: 50%;
    width: 30%;
    height: auto;
    padding: 5% 0 3%;
    white-space: pre-line;
  }
  #div_piliers div p {
    padding: 0;
  }

  #sec_citoyen {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .div_cap {
    max-width: 50%;
    padding: 20px;
  }
  .div_cap:first-child img:nth-child(2) {
    max-width: 65%;
  }
  .div_cap img:nth-child(2) {
    margin: 39px auto;
  }
  #a_savoir {
    width: 100%;
  }

  #sec_phrase {
    display: flex;
    flex-direction: row;
  }
  #div_phrase {
    margin: auto;
  padding-bottom: 15px;
  }
  .phrase img {
    max-width: 6%;
  }
  .phrase p {
    padding: 15px 45px 0;
  }
}

@media SCREEN and (min-width: 1024px) {
  #sec_accueil {
    background-size: cover;
  }
  .circle_pilier {
    padding: 6% 0 4%;
    white-space: pre-line;
  }
  #div_piliers div p {
    font-size: 2em;
  }


}
