#sec_accueil {
  text-align: center;
  color: #FFF;
  position: relative;
  height: 252px;
  /* z-index: 3; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0 35px;
}
#sec_accueil:before {
  background: no-repeat url("../images/PageAccueil/photo_head_accueil.jpg") center center fixed;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: inherit;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
  background-position-y: 3em;
}

#sec_accueil h1 {
  margin: 0;
  z-index: 3;
  position: relative;
}
#sec_accueil p {
  font-size: 1.5em;
  z-index: 3;
  position: relative;
}

.flexslider {
	background: inherit;
	border: none;
}
.flexslider img {
  max-width: 100%;
}

.flexslider video {
  max-width: 100%;
}
#i_educap {
  color: #ffcf01;
}
#i_citoyen {
  color: #1c96c5;
}
#accueil > h4:after {
  content: "";
  display: block;
  clear: both;
}

/* Section Nombres  */
#sec_info_nbres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#sec_info_nbres div {
  max-width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;

}
#sec_info_nbres div img {
  max-width: 65%;
  margin: auto;
}
#sec_info_nbres div span {
  font-size: 2.5em;
}
#sec_info_nbres div p {
  color: #aeacaa;
  font-size: 2em;
}
#sec_info_nbres #div_info_ecoles {
  display: none;
}

/* Section Pilliers  */
#sec_piliers {
  text-align: center;
}
#sec_piliers h4 {
  margin-bottom: 40px;
  color: #308f36;
  font-size: 2em;
}
#div_piliers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rec_pilier {
  background-color: #fff;
  margin: 0 auto 10px;
}
#div_piliers div:first-child {
  color: #1c96c5;
  border: 1px solid #1c96c5;
}
#div_piliers div:nth-child(2) {
  color: #e30d14;
  border: 1px solid #e30d14;
}
#div_piliers div:last-child {
  color: #ffcf01;
  border: 1px solid #ffcf01;
}
#div_piliers div p {
  font-size: 1.6em;
  font-weight: 600;
  max-width: 340px;
  padding: 10px;
}

/* Section Citoyenneté tout au long de l'année */
#sec_citoyen {
  display: flex;
  flex-direction: column;
}
.div_cap {
  margin-bottom: 40px;
  line-height: 1.5;
}
.div_cap h4, .div_cap h5 {
  text-align: center;
  margin-bottom: 20px;
}
.div_cap h4 {
  font-size: 2em;
}
.div_cap h5 {
  font-size: 1.3em;
}

.div_cap img:nth-child(2){
  max-width: 100%;
  display: block;
  margin: auto;
}
.div_cap img:nth-child(3) {
  max-width: 70%;
}

#a_savoir {
  text-align: center;
}
#a_savoir a {
  background: #1c96c5;
  color: #fff;
  padding: 10px;
}

/* Section Phrase */
#sec_phrase {
  background-color: #f3f3f3;
}
#sec_phrase img {
  display: block;
  margin: auto;
}
#div_phrase {
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 20px;
}
.phrase p {
  padding: 15px 30px 0;
  line-height: 1.5;
}
.phrase {
  position: relative;
}
.phrase:nth-child(2) img {
  bottom: -20px;
  position: absolute;
  right: 0;
  z-index: 0;
}
.phrase:nth-child(2) p {
  z-index: 1;
  position: relative;
}
.phrase img {
  max-width: 10%;
  margin: 5px;
}


/* Tablet */
@media SCREEN and (min-width: 768px) {

  #sec_accueil {
    padding: 0;
  }
  #sec_accueil:before {
    background-position-y: -12em;
  }
  #sec_accueil h1 {
    font-size: 2em;
  }
  #sec_accueil p {
    white-space: pre-line;
  }
  #accueil > h4 {
    font-size: 2em;
    color: rgba(36, 41, 46, 0.8);
  }
  #accueil > h4 .fas {
    margin: -15px 15px 0;
  }

  #sec_info_nbres {
    flex-wrap: nowrap;
  }
  #sec_info_nbres div {
    max-width: 25%;
  }
  #div_piliers {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .rec_pilier {
    display: none;
  }
  .circle_pilier {
    display: grid;
    margin: 0;
    border-radius: 50%;
    width: 220px;
    height: 220px;
    white-space: pre-line;
  }
  #div_piliers div p {
    padding: 0;
    align-self: center;
    font-size: 1.4em;
  }

  #sec_citoyen {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .div_cap {
    max-width: 50%;
    padding: 20px;
  }

  .div_cap img:nth-child(2) {
    margin: 40px auto;
  }
  #a_savoir {
    width: 100%;
  }

  /* #sec_phrase {
    display: flex;
    flex-direction: row;
  } */
  #sec_phrase > div {
    display: flex;
    flex-direction: row;
  }

  #div_phrase {
    margin: auto;
    padding-bottom: 15px;
    width: 100%;
  }
  .phrase img {
    max-width: 6%;
  }
  .phrase p {
    padding: 15px 45px 0;
  }
}
@media SCREEN and (min-width: 800px) {
  .circle_pilier {
    width: 230px;
    height: 230px;
  }
  #div_piliers div p {
    font-size: 1.4em;
  }
}

@media SCREEN and (min-width: 980px) {
  .circle_pilier {
    width: 250px;
    height: 250px;
  }

  #div_piliers div p {
    font-size: 1.5em;
  }
}

@media SCREEN and (min-width: 1025px) {
  #sec_accueil {
    height: 400px;
    font-size: 1.1em;
    margin-left: calc(-100vw / 2 + 1200px / 2 + 7.5px);
    margin-right: calc(-100vw / 2 + 1200px / 2 + 7.5px);
  }
  #sec_accueil:before {
    background-position-y: 65%;
  }
  #sec_accueil h1 {
    font-size: 4em;
    margin-bottom: 0;
    font-weight: normal;
  }
  #sec_accueil p {
    font-size: 2.5em;
  }
  #sec_info_nbres #div_info_ecoles {
    display: flex;
  }
  .phrase img {
    max-width: 4%;
  }
  .rec_pilier {
    width: 280px;
    height: 280px;
    padding: 0;
  }

  #sec_phrase {
    margin-left: calc(-100vw / 2 + 1200px / 2 + 7.5px);
    margin-right: calc(-100vw / 2 + 1200px / 2 + 7.5px);
    padding: 50px 80px;
  }
  #sec_phrase > div {
    width: 1200px;
    margin: auto;
  }
  #sec_phrase > div img {
    margin-top: -30px;
    margin-bottom: -30px;
  }

  #sec_accueil h1 {
    font-size: 4em;
    margin-bottom: 0;
    font-weight: normal;
  }
  #sec_accueil p {
    font-size: 2.5em;
  }
}
/* @media SCREEN and (min-width: 1025px) {

  #sec_info_nbres #div_info_ecoles {
    display: flex;
  }
  .phrase img {
    max-width: 4%;
  }

} */
/* @media SCREEN and (min-width: 1200px) {
  .rec_pilier {
    width: 280px;
    height: 280px;
    padding: 0;
  }

  #sec_phrase {
    margin-left: calc(-100vw / 2 + 1200px / 2 + 7.5px);
    margin-right: calc(-100vw / 2 + 1200px / 2 + 7.5px);
    padding: 50px 80px;
  }
  #sec_phrase > div {
    width: 1200px;
    margin: auto;
  }
  #sec_phrase > div img {
    margin-top: -30px;
    margin-bottom: -30px;
  }
} */
/* @media SCREEN and (min-width: 1400px) {
   #sec_accueil {
     height: 400px;
     font-size: 1.1em;
     margin-left: calc(-100vw / 2 + 1200px / 2 + 7.5px);
     margin-right: calc(-100vw / 2 + 1200px / 2 + 7.5px);
   }
   #sec_accueil:before {
     background-position-y: -27em;
   }
   #sec_accueil h1 {
     font-size: 4em;
     margin-bottom: 0;
     font-weight: normal;
   }
   #sec_accueil p {
     font-size: 2.5em;
   }

} */
