#a_propos > section:not(#embarquez) {
  padding: 0 20px;
  margin-bottom: 50px;
}
#sec_de_capsaaa > div:first-child, #sec_du_pacte > div:first-child {
  height: 252.267px;
  width: auto;
  display: grid;
  align-content: center;
  position: relative;
  margin: 0 -20px 30px;
}
#sec_de_capsaaa > div:first-child:before {
  background: url("../../resources/images/PageAPropos/photo_head_capsaaa.png") no-repeat center center fixed;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: inherit;
  filter: sepia(1) hue-rotate(185deg) brightness(0.7) saturate(1.2) contrast(1.2);
  background-position-y: bottom -8rem;
}

#sec_du_pacte > div:first-child:before {
  background: url("../../resources/images/PageAPropos/photo_head_pacte.png") no-repeat center center fixed;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  filter: sepia(1) hue-rotate(185deg) brightness(0.7) saturate(1.2) contrast(1.2);
}
#sec_de_capsaaa > div:first-child h1, #sec_du_pacte > div:first-child h1 {
  margin: auto;
  font-size: 3em;
  letter-spacing: 1rem;
  z-index: 3;
}
#sec_de_capsaaa > h2, #sec_pole_activites > h2, #sec_du_pacte > h2 {
  font-weight: normal;
  display: inline-block;
  margin-bottom: 30px;
  font-size: 2em;
}
#a_propos h2 > svg, #sec_du_pacte > h2 > svg {
  margin-left: -26px;
  font-size: 1.4em;
  float: left;
  margin-top: -7px;
}

#sec_de_capsaaa, #sec_du_pacte {
  text-align: center;
}
#sec_de_capsaaa > p, #sec_du_pacte > p {
  margin-bottom: 25px;
}
#div_capsaaa {
  margin-bottom: 60px;
}
#div_capsaaa, #div_impact {
  position: relative;
}
#div_capsaaa > div > h3, .div_act > div > h3 {
  margin-bottom: 10px;
  font-size: 1.3em;
}

#div_capsaaa > img {
  max-width: 40%;
  margin: auto;
  display: block;
  margin-bottom: 30px;
}
#div_capsaaa div, #div_impact div{
  margin-bottom: 45px;
}

#div_capsaaa div h3 {
  text-transform: uppercase;
}

#div_capsaaa div p {
  font-weight: 600;
}

#sec_pole_activites {
  text-align: center;
}
#sec_pole_activites > * {
  margin-bottom: 25px;
}
#sec_pole_activites > h3 {
  font-size: 2em;
}
.div_act {
  display: flex;
  flex-direction: column-reverse;
}
.div_act > div {
  margin-bottom: 20px;
}
.div_act img {
  margin-bottom: 20px;
  border-width: 20px;
  border-style: solid;
  border-radius: 10px;
}
.p1 {
  border-color: #275390;
}
.p2 {
  border-color: #ffcf01;
}
.p3 {
  border-color: #e30d14;
}
.p4 {
  border-color: #595959;
}
.p5 {
  border-color: #308f36;
}


#sec_du_pacte > h2 {
 margin-bottom: 40px;
}
#sec_du_pacte > p:nth-child(4) {
  margin: 0 -20px 20px;
  padding: 10px;
}
#div_impact > div {
  display: flex;
  flex-direction: column;
}
#div_impact svg {
  margin-bottom: 20px;
  align-self: center;
}

@media SCREEN and (max-width: 767px) {
  #sec_du_pacte > h2 {
    white-space: pre;
  }
}
@media SCREEN and (min-width: 768px) {

  #sec_de_capsaaa > div:first-child, #sec_du_pacte > div:first-child {
    height: 233.8px;
  }
  #sec_de_capsaaa > div:first-child:before {
    background-position-y: bottom 10em;
  }

  #sec_pole_activites > * {
    margin-bottom: 0;
  }
  .div_act img {
    margin-bottom: 0;
    border-radius: 0;
    width: 50%;
  }

  #sec_de_capsaaa > p, #sec_pole_activites > p {
    white-space: pre-line;
  }
  #a_propos h2 > svg, #sec_du_pacte > h2 > svg {
    margin-top: -3px;
  }

  #div_capsaaa > img {
    max-width: 20%;
  }
  #div_capsaaa div {
    display: inline-block;
    padding: 15px;
  }

  .div_act {
    flex-direction: row;
    justify-content: space-around;
  }
  .div_act:nth-child(3), .div_act:nth-child(5) {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  .div_act > div {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0;
  }
  .div_act > img {
    width: 50%;
    height: 300px;
  }

  #div_impact > div {
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
  }
  #div_impact > div:nth-child(2), #div_impact > div:nth-child(4) {
    flex-direction: column;
    justify-content: space-eveny;
    text-align: center;
  }
  #div_impact > div > svg {
    width: 10%;
  }
  #div_impact > div > p {
    width: 85%;
    margin: auto;
  }
}

@media SCREEN and (min-width: 1024px) {
  #a_propos {
    font-size: 1.1em;
  }
  #sec_de_capsaaa > div:first-child:before {
    background-position-y: bottom 2em;
  }
  #div_capsaaa > img {
    max-width: 15%;
  }

  .div_cap_activite {
    position: relative;
    width: 50%;
    display: flex;
  }
  .div_act .item-a {
    justify-content: flex-end;
  }
  .div_act .item-a p {
    top: 20px;
    left: 0px;
  }
  .div_act .item-b {
    justify-content: flex-start;
  }
  .div_act .item-b p {
    top: -20px;
    right: 0;
  }
  .div_act .item-c {
    justify-content: flex-start;
  }
  .div_act .item-c p {
    top: 20px;
    left: -70px;
  }
  .div_act .item-d {
    justify-content: flex-end;
  }
  .div_act .item-d p {
    top: 20px;
    right: -60px;
  }
  .div_act .item-e {
    justify-content: center;
  }
  .div_act .item-e p {
    top: 20px;
  }
  .div_cap_activite > div, .div_cap_activite > p {
    border-radius: 30px;
  }
  .div_cap_activite > div {
    width: 340px;
    height: 240px;
    padding: 50px;
    z-index: 1;
  }

  .div_cap_activite > p {
    position: absolute;
    z-index: -1;
    width: 380px;
    transition: 1s;
    display: flex;
    align-items: center;
  }
  .div_cap_activite > div:hover + p, .div_cap_activite > div:hover + p:hover {
    z-index: 2;
    transition: transform 1s;
    transform: rotate(1 turn) scale(1.5);
  }
  .div_cap_activite > p:hover {
    z-index: 2;
    transition: transform 1s;
    transform: rotate(1turn) scale(1.5);
  }
  .div_cap_activite > div > ul {
    height: auto;
  }


  #a_propos > section:not(#sec_embarquez):not(#sec_de_capsaaa > div:first-child) {
    padding: 25px 20px 50px;
    margin-bottom: 50px;
  }

  #sec_pole_activites {
    position: relative;
  }

  .div_act > div {
    margin-bottom: 0;
  }
  .div_act img {
    margin-bottom: 0;
    border-radius: 0;
    width: 50%;
    height: 50%;
  }

  #div_impact > div > p {
    width: 85%;
  }

}

@media SCREEN and (min-width: 1100px) {
  #a_propos > section:not(#sec_embarquez) {
    padding: 0;
  }
  #sec_de_capsaaa > div:first-child, #sec_du_pacte > div:first-child {
  height: 395.6px;
    margin-left: calc(-100vw / 2 + 1100px / 2 + 7.5px);
    margin-right: calc(-100vw / 2 + 1100px / 2 + 7.5px);

  }
  #sec_de_capsaaa > div:first-child:before {
    background-position-y: bottom -3em;
  }
  #sec_de_capsaaa > div:first-child h1, #sec_du_pacte > div:first-child h1 {
    font-size: 6em;
    font-weight: normal;
  }
}
