#programme > section {
  margin-bottom: 30px;
}

#sec_presentation {
  text-align: center;
  padding: 0 15px;
}
#sec_presentation > p {
  margin-bottom: 15px;
}
#sec_presentation > p:nth-child(3) {
  margin-bottom: 30px;
}

#div_caps {
  display: flex;
  flex-direction: column;
}
#div_caps div {
  width: 50%;
  margin: 0 auto 15px;
}
#div_caps div h3 {
  padding: 10px;
}
/* #div_caps div:first-child h3:hover {
  background-color: #fff;
  color: #ffcf01;
  transition: 0.5s;
}
#div_caps div:nth-child(2) h3:hover {
  background-color: #fff;
  color: #308f36;
  transition: 0.5s;
} */
#div_caps div p {
  padding: 10px 0;
}

#sec_cap_rallye h2, #sec_cap_classe h2, #sec_etape_capitale h2 {
  padding-left: 20px;
  margin-bottom: 25px;
  font-size: 2em;
}
#sec_cap_rallye > p, #sec_cap_classe > p, #sec_etape_capitale > p {
  padding: 0 20px;
  margin-bottom: 30px;
}

.div_objectifs {
  margin-bottom: 30px;
  padding: 0 20px;
}
.div_objectifs button {
  width: 50%;
  text-align: center;
  border: none;
  padding: 5px;
  display: block;
  margin: auto;
}
.div_objectifs button .fas {
  font-size: 1.5em;
  vertical-align: sub;
  margin-left: 10px;

}
.div_objectifs > h3 {
  display: none;
}
.div_objectifs ul {
  padding: 10px;
  display: none;
}
.div_objectifs ul li {
  margin-bottom: 5px;
}

.div_cap_infos {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.div_cap_infos div {
  width: 44%;
  margin-bottom: 20px;
}
.div_cap_infos div .fas, .div_cap_infos div .far {
  font-size: 3em;
}
.div_cap_infos div * {
  margin-bottom: 5px;
}

#sec_journee_cap_rallye {
  text-align: center;
  display: grid;
  grid-template:
  [row1-start] "z z" [row1-end]
  [row2-start] "a b" [row2-end]
  [row3-start] "a c" [row3-end]
  [row4-start] "a d" [row4-end]
  [row5-start] "a e" [row5-end]
  [row6-start] "a f" [row6-end]
  [row7-start] "a g" [row7-end]
  [row8-start] "a h" [row8-end]
  [row9-start] "a i" [row9-end]
  [row10-start] "y y" [row10-end]
  / 20% 10% 70%;
}
#sec_journee_cap_rallye > h3 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 20px;
}
#sec_journee_cap_rallye .item-z {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
#sec_journee_cap_rallye .item-a {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 10;
}
#sec_journee_cap_rallye .item-b {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}
#sec_journee_cap_rallye .item-c {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
#sec_journee_cap_rallye .item-d {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
}
#sec_journee_cap_rallye .item-e {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
}
#sec_journee_cap_rallye .item-f {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 6;
}
#sec_journee_cap_rallye .item-g {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 7;
}
#sec_journee_cap_rallye .item-h {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 8;
  grid-row-end: 8;
}
#sec_journee_cap_rallye .item-i {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 9;
}
#sec_journee_cap_rallye .item-y {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 10;
  grid-row-end: 10;
  margin-top: 30px;
  width: 100%;
}

#sec_journee_cap_rallye > div:not(.div_fil):not(.item-y), #sec_journee_cap_classe > div:not(.div_fil):not(.item-y) {
  padding: 10px;
  margin: 10px;
  border: 1px solid #f3f3f3;
}
#sec_journee_cap_rallye > img, #sec_journee_cap_classe > img {
  padding: 15px;
}
#sec_journee_cap_rallye .div_fil p {
  color: #308f36;
}
#sec_journee_cap_classe .div_fil p {
  color: #ffcf01;
}

.div_dl {
  text-align: center;
}

/* [name="plaquette_1"]:hover {
  background-color: #fff;
  color: #308f36;
  transition: 0.5s;
}
[name="plaquette_2"]:hover {
  background-color: #fff;
  color: #ffcf01;
  transition: 0.5s;
} */
[name="participer"] {
  margin: 10px auto;
}
/* [name="participer"]:hover {
  background-color: #fff;
  color: #e30d14;
  transition: 0.5s;
} */

.div_fil {
  position: relative;
  display: grid;
  grid-template-columns: 1FR;
  grid-template-rows: repeat(19, 0.1FR);
}
.div_fil .fa {
  font-size: 1.5em;
  position: relative;
}
.div_fil:before {
  content: "";
  position: absolute;
  left: 50%;
  display: inline-block;
  height: 98%;
  border-right: 1px solid #1c96c5;
  top: 1%;
}
.div_fil p {
  background-color: #fff;
  padding: 5px;
  position: relative;
  align-self: center;
  font-size: 1.5em;
  font-weight: normal;
}

#sec_journee_cap_rallye .div_fil .p-item-a {
  grid-row-start: 4;
  grid-row-end: 6;
}
#sec_journee_cap_rallye .div_fil .p-item-b {
  grid-row-start: 7;
  grid-row-end: 10;
}
#sec_journee_cap_rallye .div_fil .p-item-c {
  grid-row-start: 15;
  grid-row-end: 18;
}
#sec_journee_cap_rallye .div_fil .p-item-d {
  grid-row-start: 18;
  grid-row-end: 19;
}
#sec_journee_cap_rallye .div_fil .p-item-e {
  grid-row-start: 19;
  grid-row-end: 20;
  margin-top: 40px;
}
[alt="Carnet de Route"] {
  display: none;
}

#sec_journee_cap_classe {
  text-align: center;
  display: grid;
  grid-template:
  [row1-start] "z z" [row1-end]
  [row2-start] "a b" [row2-end]
  [row3-start] "a c" [row3-end]
  [row4-start] "a d" [row4-end]
  [row5-start] "a e" [row5-end]
  [row6-start] "a f" [row6-end]
  [row7-start] "a g" [row7-end]
  [row8-start] "y y" [row8-end]
  / 20% 10% 70%;
}
#sec_journee_cap_classe > h3 {
  font-size: 2em;
  font-weight: normal;
  margin-bottom: 20px;
  padding: 0 20px;
}
#sec_journee_cap_classe .item-z {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 1;
}
#sec_journee_cap_classe .item-a {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 8;
}
#sec_journee_cap_classe .item-b {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
}
#sec_journee_cap_classe .item-c {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
}
#sec_journee_cap_classe .item-d {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
}
#sec_journee_cap_classe .item-e {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 5;
}
#sec_journee_cap_classe .item-f {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 6;
}
#sec_journee_cap_classe .item-g {
  grid-column-start: 3;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 7;
}
#sec_journee_cap_classe .item-y {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 8;
  grid-row-end: 8;
  margin-top: 30px;
  width: 100%;
}

#sec_journee_cap_classe .div_fil {
  grid-template-rows: repeat(19, 0.1FR);
}
#sec_journee_cap_classe .div_fil .p-item-a {
  grid-row-start: 7;
  grid-row-end: 7;
}
#sec_journee_cap_classe .div_fil .p-item-b {
  grid-row-start: 12;
  grid-row-end: 14;
}
#sec_journee_cap_classe .div_fil .p-item-c {
  grid-row-start: 14;
  grid-row-end: 16;
}
#sec_journee_cap_classe .div_fil .p-item-d {
  grid-row-start: 16;
  grid-row-end: 17;
}
#sec_journee_cap_classe .div_fil .p-item-e {
  grid-row-start: 18;
  grid-row-end: 20;
  margin-top: 15px;
}

#sec_etape_capitale h2 img {
  float: left;
  max-width: 13%;
  margin-top: -10px;
  margin-right: 15px;
}
#sec_etape_capitale .div_cap_infos {
  margin-bottom: 0;
}

.slicker {
  width: 100%;
  height: 300px;
}
.slick-list {
  height: inherit;
}
.slick-track {
  height: inherit;
  margin-left: -3%;
}
.slick-slide {
  display: flex !important;
  justify-content: center;
}
.slick-slide > div {
  height: 75px;
  width: 75px !important;
  opacity: .6;
  background-position: center;
  background-repeat: no-repeat;
  align-self: center;
  border-radius: 50%;
  align-self: center;
  border: 2px solid black;
}
.slick-center {
  width: 185px !important;
}
.slick-center > div {
  opacity: 1;
  width: 185px !important;
  height: 185px;
  border: 2px solid grey;
}

@media SCREEN and (min-width: 768px) {
  main {
    padding-top: 50px;
  }
  header {
    margin-bottom: 30px;
  }
  #sec_presentation {
    padding: 20px 40px 0;
  }

  #div_caps {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #div_caps div {
    width: 25%;
    margin: 0;
  }
  .div_objectifs ul {
    display: block;
  }

  #sec_cap_rallye h2, #sec_cap_classe h2, #sec_etape_capitale h2 {
    font-size: 2.5em;
  }
  #sec_cap_rallye h2, #sec_cap_rallye > p, #sec_cap_classe h2, #sec_cap_classe > p, .div_objectifs, .div_cap_infos, .div_cap_infos div {
    margin: 0;
    padding: 0;
  }

  #sec_cap_rallye, #sec_cap_classe {
    display: grid;
    grid-template-columns: 0.6FR 0.4FR;
    grid-template-rows: 0fr 0.1fr 0.1fr 1fr;
  }
  #sec_cap_rallye h2, #sec_cap_classe h2 {
    padding: 0 0 25px 80px;
    margin-bottom: 25px;
  }
  .cr-a, .cc-a {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .div_objectifs > button {
    display: none;
  }
  .div_objectifs > h3 {
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .div_objectifs > ul {
    display: block;
  }
  .div_objectifs > ul > li {
    margin-bottom: 15px;
  }
  .cr-b, .cc-b {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  #sec_cap_rallye > p, #sec_cap_classe > p {
    width: 90%;
    margin: 0 auto;
  }
  .cr-c, .cc-c {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .div_cap_infos {
    height: 70%;
  }
  .div_cap_infos div {
    height: 50%;
  }
  .cr-d, .cc-d {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    align-self: end;
    align-content: end;
  }
  #sec_journee_cap_rallye, #sec_journee_cap_classe {
    padding-top: 40px;
    margin-top: 30px;
  }
  #sec_journee_cap_rallye > div:not(.div_fil):not(.item-y), #sec_journee_cap_classe > div:not(.div_fil):not(.item-y) {
    margin: 15px;
  }
  #sec_journee_cap_rallye > img, #sec_journee_cap_classe > img {
    margin: auto;
    padding: 0;
  }
  .div_fil p {
    align-self: first baseline;
  }

  #sec_journee_cap_rallye, #sec_journee_cap_classe {
    text-align: center;
    display: grid;
    grid-template-columns: 0.43fr 0.14fr 0.43fr;
  }
  #sec_journee_cap_rallye > h3, #sec_journee_cap_classe > h3 {
    margin-bottom: 30px;
  }
  #sec_journee_cap_rallye .item-z, #sec_journee_cap_classe .item-z {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  #sec_journee_cap_rallye .item-a, #sec_journee_cap_classe .item-a {
    grid-column: 2 / 3;
    grid-row: 2 / 8;
  }
  #sec_journee_cap_rallye .item-b {
    max-width: 50%;
  }
  #sec_journee_cap_classe .item-b {
    max-width: 85%;
  }
  #sec_journee_cap_rallye .item-b, #sec_journee_cap_classe .item-b {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  #sec_journee_cap_rallye .item-c, #sec_journee_cap_classe .item-c {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #sec_journee_cap_rallye .item-d, #sec_journee_cap_classe .item-d {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
  }
  #sec_journee_cap_rallye .item-d p:first-child, #sec_journee_cap_rallye .item-e p:not(:last-child) {
    margin-bottom: 10px;
  }
  #sec_journee_cap_rallye .item-e {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
  #sec_journee_cap_rallye .item-f {
    grid-column: 2 / 4;
    grid-row: 4 / 5;
    justify-self: end;
    max-width: 75%;
    margin: auto 5%;
  }
  #sec_journee_cap_rallye .item-g {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
  }
  #sec_journee_cap_rallye .item-h {
    grid-column: 1 / 2;
    grid-row: 6 / 7;
  }
  #sec_journee_cap_rallye .item-i {
    grid-column: 3 / 4;
    grid-row: 7 / 8;
  }
  #sec_journee_cap_rallye .item-y {
    grid-column: 1 / 4;
    grid-row: 8 / 9;
  }

  #sec_cap_classe #sec_journee_cap_classe > div.item-d {
    border: none;
    padding: 0;
  }
  #sec_journee_cap_classe .item-d > div {
    position: relative;
    border: 1px solid #f3f3f3;
    padding: 10px;
  }

  #sec_cap_classe #sec_journee_cap_classe > div.item-e {
    grid-row: 4 / 5;
    margin: -30px 15px 65px;
  }

  #sec_journee_cap_rallye .div_fil .p-item-a {
    grid-row: 2 / 3;
  }
  #sec_journee_cap_rallye .div_fil .p-item-b {
    grid-row: 3 / 6;
  }
  #sec_journee_cap_rallye .div_fil .p-item-c {
    grid-row: 15 / 16;
  }
  #sec_journee_cap_rallye .div_fil .p-item-d {
    grid-row: 17 / 18;
  }
  #sec_journee_cap_rallye .div_fil .p-item-e {
    grid-row: 19 / 20;
    margin-top: 0;
  }
  [alt="Carnet de Route"] {
    display: block;
    max-width: 100%;
  }
  .cr-e, .cc-e {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
  }
  .cr-f, .cc-f {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    align-self: center;
    padding-bottom: 45px;
  }

  .cc-d {
    padding-top: 40px;
  }
  #sec_journee_cap_classe > h3 {
    padding-top: 15px;
  }

  .div_fil p {
    align-self: center;
    padding: 10px;
  }
  #sec_journee_cap_classe .div_fil .p-item-b {
  	grid-row: 10 / 13;
    padding-top: 18px;
  }
  #sec_journee_cap_classe .div_fil .p-item-c {
    grid-row: 13 / 15;
  }
  #sec_journee_cap_classe .div_fil .p-item-d {
    grid-row: 16 / 17;
  }
  #sec_journee_cap_classe .div_fil .p-item-e {
    grid-row: 17 / 20;
  }

  #sec_etape_capitale h2 {
    margin-bottom: 50px;
    padding-left: 81px;
  }
  #sec_etape_capitale h2 img {
    margin-top: -20px;
    width: 80px;
    height: 80px;
  }
  #sec_etape_capitale .div_cap_infos {
    flex-wrap: nowrap;
    padding: 20px;
  }
  #sec_journee_cap_rallye > div:not(.div_fil):not(.carousel), #sec_journee_cap_classe > div:not(.div_fil):not(.carousel) {
    position: relative;
  }
  .triangle-a, .triangle-a-1 {
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: 1px solid #fff;
    position: absolute;
    width: 20px;
    height: 15px;
    /* border: 1px solid #aaa; */
  }
  .triangle-a {
    background: linear-gradient(to top right, #fff calc(50% - 1px), #f3f3f3, #fff calc(50% + 1px) );
  }
  .triangle-a-1 {
    background: linear-gradient(to bottom right, #fff calc(50% - 1px), #f3f3f3, #fff calc(50% + 1px) );
  }
  #sec_journee_cap_rallye .item-c .triangle-a, #sec_journee_cap_rallye .item-e .triangle-a {
    top: 75px;
    right: -20px;
  }
  #sec_journee_cap_rallye .item-c .triangle-a-1, #sec_journee_cap_rallye .item-e .triangle-a-1 {
    top: 90px;
    right: -20px;
  }
  #sec_journee_cap_rallye .item-h .triangle-a {
    top: 35px;
    right: -20px;
  }
  #sec_journee_cap_rallye .item-h .triangle-a-1 {
    top: 50px;
    right: -20px;
  }

  .triangle-b, .triangle-b-1 {
    border-top: none;
    border-right: 1px solid #fff;
    border-bottom: none;
    border-left: none;
    position: absolute;
    width: 20px;
    height: 15px;
    /* border: 1px solid #aaa; */
  }
  .triangle-b {
    background: linear-gradient(to top left, #fff calc(50% - 1px), #f3f3f3, #fff calc(50% + 1px) );
  }
  .triangle-b-1 {
    background: linear-gradient(to bottom left, #fff calc(50% - 1px), #f3f3f3, #fff calc(50% + 1px) );
  }
  #sec_journee_cap_rallye .item-d .triangle-b {
    top: 85px;
    left: -20px;
  }
  #sec_journee_cap_rallye .item-d .triangle-b-1 {
    top: 100px;
    left: -20px;
  }
  #sec_journee_cap_rallye .item-g .triangle-b {
    top: 60px;
    left: -20px;
  }
  #sec_journee_cap_rallye .item-g .triangle-b-1 {
    top: 75px;
    left: -20px;
  }
  #sec_journee_cap_rallye .item-i .triangle-b {
    top: 10px;
    left: -20px;
  }
  #sec_journee_cap_rallye .item-i .triangle-b-1 {
    top: 25px;
    left: -20px;
  }

  #sec_journee_cap_classe .div_fil .p-item-a {
    grid-row: 3 / 6;
  }
  #sec_journee_cap_classe .div_fil .p-item-b {
    grid-row: 8 / 9;
  }
  #sec_journee_cap_classe .div_fil .p-item-c {
    grid-row: 11 / 12;
  }
  #sec_journee_cap_classe .div_fil .p-item-d {
    grid-row: 13 / 15;
  }
  #sec_journee_cap_classe .div_fil .p-item-e {
    grid-row: 17 / 20;
  }

  #sec_journee_cap_classe .item-g {
    grid-column: 1 / 2;
  }

  #sec_journee_cap_classe .item-c .triangle-a {
    top: 85px;
    right: -20px;
  }
  #sec_journee_cap_classe .item-c .triangle-a-1 {
    top: 100px;
    right: -20px;
  }
  #sec_journee_cap_classe .item-g .triangle-a {
    top: 25px;
    right: -20px;
  }
  #sec_journee_cap_classe .item-g .triangle-a-1 {
    top: 40px;
    right: -20px;
  }

  #sec_journee_cap_classe .item-d .triangle-b {
    top: 25px;
    left: -20px;
  }
  #sec_journee_cap_classe .item-d .triangle-b-1 {
    top: 40px;
    left: -20px;
  }
  #sec_journee_cap_classe .item-e .triangle-b {
    top: 10px;
    left: -20px;
  }
  #sec_journee_cap_classe .item-e .triangle-b-1 {
    top: 25px;
    left: -20px;
  }
  #sec_journee_cap_classe .item-f .triangle-b {
    top: 10px;
    left: -20px;
  }
  #sec_journee_cap_classe .item-f .triangle-b-1 {
    top: 25px;
    left: -20px;
  }
  .div_fil .fa {
    padding-left: 3px;
  }

  .slides > li {
    height: 142px;
  }

  .slick-track {
    margin-left: -6%;
  }
  .slick-center {
    width: 200px !important;
  }
  .slick-center > div {
    width: 200px !important;
    height: 200px;
  }

}

@media SCREEN and (min-width: 834px) {
  .slides > li {
    height: 160px;
  }
  #sec_journee_cap_rallye .item-f {
    max-width: 70%;
  }
  #sec_journee_cap_classe .div_fil .p-item-c {
    grid-row: 10 / 12;
  }
}

@media SCREEN and (min-width: 1024px) {

  main {
    padding-top: 90px;
  }
  #sec_journee_cap_rallye .div_fil .p-item-b {
    grid-row: 5 / 7;
  }
  #sec_journee_cap_rallye .div_fil .p-item-c {
    grid-row: 15 / 17;
  }
  #sec_journee_cap_rallye .div_fil .p-item-d {
    grid-row: 17 / 19;
  }
  #sec_journee_cap_rallye .item-d .triangle-b {
    top: 50px;
  }
  #sec_journee_cap_rallye .item-d .triangle-b-1 {
    top: 65px;
  }
  #sec_journee_cap_rallye .item-g .triangle-b {
    top: 30px;
  }
  #sec_journee_cap_rallye .item-g .triangle-b-1 {
    top: 45px;
  }
  #sec_cap_classe #sec_journee_cap_classe > div.item-e {
    margin: 0px 15px 30px;
  }
  #sec_journee_cap_classe .div_fil .p-item-a {
    grid-row: 4 / 6;
  }
  #sec_journee_cap_classe .div_fil .p-item-b {
    grid-row: 9 / 10;
  }
  #sec_journee_cap_classe .div_fil .p-item-c {
    grid-row: 12 / 13;
  }
  #sec_journee_cap_classe .div_fil .p-item-d {
    grid-row: 14 / 17;
  }
  #sec_journee_cap_classe .item-d > div {
    margin-bottom: 50px;
  }
  #sec_journee_cap_classe .item-f .triangle-b {
    top: 10px;
    left: -20px;
  }
  #sec_journee_cap_classe .item-f .triangle-b-1 {
    top: 25px;
    left: -20px;
  }
  #sec_journee_cap_classe .item-g .triangle-a {
    top: 40px;
    right: -20px;
  }
  #sec_journee_cap_classe .item-g .triangle-a-1 {
    top: 55px;
    right: -20px;
  }
  .slicker {
    width: 1200px;
    height: 500px;
    position: relative;
  }
  .slicker .fa-arrow-circle-left {
    position: absolute;
    left: -22%;
    top: 45%;
    font-size: 3em;
  }
  .slicker .fa-arrow-circle-right {
    position: absolute;
    right: -22%;
    top: 45%;
    font-size: 3em;
  }
  #sec_journee_cap_classe .cc {
    color: #ffcf01;
  }
  #sec_journee_cap_rallye .cr {
    color: #308f36;
  }
  .slick-list {
    margin-left: calc(-100vw / 6 + 1200px / 6 + 7.5px);
    margin-right: calc(-100vw / 6 + 1200px / 6 + 7.5px);
    height: inherit;
  }
  .slick-track {
    margin-left: -3%;
  }
  .slick-slide > div {
    height: 150px;
    width: 150px !important;
  }
  .slick-center {
    width: 370px !important;
  }
  .slick-center > div {
    width: 370px !important;
    height: 370px;
  }
}
@media SCREEN and (min-width: 1200px) {
  #sec_journee_cap_rallye .div_fil .p-item-b {
      grid-row: 4 / 7;
  }
  #sec_journee_cap_rallye .div_fil .p-item-c {
    grid-row: 14 / 17;
  }
  #sec_journee_cap_rallye .div_fil .p-item-d {
    grid-row: 17 / 19;
  }
  #sec_journee_cap_classe .item-d > div {
    margin-bottom: 0px;
  }
  #sec_journee_cap_classe .item-e {
    grid-row: 4 / 5;
  }
  #sec_journee_cap_classe .div_fil .p-item-d {
    margin-bottom: 20px;
  }
}
