main > h1 {
  text-align: center;
  font-weight: normal;
}
/* .sublinks_editions_tablet {
  display: none;
} */
.sublinks_editions_tablet {
  text-align: center;
  margin-bottom: 20px;
}
.sublinks_editions_tablet h3 {
  font-weight: normal;
  font-size: 1.5em;
}
.sublinks_editions_tablet ul li a {
  color: #000;
}
iframe {
  display: block;
  margin: auto;
  width: 360px;
  height: 330px;
  border: 1px;
}
.div_legend_icon_loc {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin: 10px auto;
}
.div_legend_icon_loc p {
  align-self: center;
}
.div_legend_icon_loc p .fas {
  font-size: 1.5em;
  margin-right: 7px;
}
.partenaire_slider div div {
  width: auto;
  height: 100px;
  display: flex !important;
  justify-content: center;
}
.partenaire_slider div div img {
  max-height: 100px;
  margin: auto;
}


@media SCREEN and (min-width: 768px) {
  .sublinks_editions_tablet {
    display: block;
    text-align: center;
  }
  .sublinks_editions_tablet h3 {
    font-weight: normal;
    font-size: 1.5em;
  }
  .sublinks_editions_tablet ul li a {
    color: #000;
  }

  iframe {
    width: 700px;
    height: 675px;
  }

}

@media SCREEN and (min-width: 1024px) {
  .div_legend_icon_loc {
    width: 50%;
  }
  /* .sublinks_editions_tablet {
    display: none;
  } */
  .partenaire_slider {
    display: flex;
    flex-flow: row wrap;
  }
  .partenaire_slider > div {
    flex: 1 10%;
    margin: 10px;
    display: flex;
    justify-content: center;
  }
}
