#sec_intro_participer {
  padding: 15px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.div_action > *, .div_decouverte > * {
  margin-bottom: 20px;
}
.div_action h2 {
  font-weight: normal;
  font-size: 2em;
}
.div_action ul {
  text-align: left;
}
.div_action ul li {
  margin-bottom: 5px;
}
.div_action ul .fas {
  font-size: 2em;
  float: left;
  margin: -8px 5px 0 0;
}
.div_decouverte img {
  max-width: 70%;
}

.partenaire_slider div div {
  width: inherit;
  height: 110px;
  display: flex;
  justify-content: center;
}
.partenaire_slider div div img {
  max-height: 110px;
  margin: auto;
}
#body_participer main > section:not(#sec_intro_participer):not(#embarquez) > p {
  text-align: center;
}

@media SCREEN and (min-width: 768px) {
  main {
    padding-top: 50px;
  }
  #sec_intro_participer {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #sec_intro_participer > div {
    width: 45%;
  }
  .div_action > *, .div_decouverte > * {
    margin-bottom: 50px;
  }

  .div_action ul .fas {
    margin: -6px 5px 0 0;
  }
}

@media SCREEN and (min-width: 1024px) {
  .div_action h2 {
    font-size: 2.5em;
  }
  .div_decouverte img {
    max-width: 40%;
  }
  .partenaire_slider {
    display: flex;
    flex-flow: row wrap;
  }
  .partenaire_slider > div {
    flex: 1 10%;
    margin: 10px;
  }
}
