#sec_accueillir > *, .accueillir > *, .accueillir + div > * {
  margin-bottom: 20px;
}
.accueillir > div > * {
  margin-bottom: 10px;
}
.div_acc_prez {
  text-align: center;
  color: #FFF;
  position: relative;
  height: 252px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}
.div_acc_prez:before {
  background: no-repeat url("../../images/PageParticiper/Organiser/photo_institution.jpg") center center fixed;
  background-size: cover;
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: inherit;
  background-position-y: 5em;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}
.div_acc_prez h1 {
  z-index: 1;
  font-weight: normal;
}

.accueillir, .accueillir ~ div {
  text-align: center;
  padding: 15px;
}
/* .accueillir div:first-child div a {
  display: inline-block;
} */
/* .bgblue-hover:hover {
  background-color: #FFF;
  color: #1c96c5;
  transition: 0.5s;
} */
.div_acc {
  padding: 15px;
}
.div_acc > h2, .partenaire > div:last-child > h2 {
  font-weight: normal;
  font-size: 2em;
  text-align: center;
}
.div_acc > ul li, .partenaire > div:last-child > * {
  margin-bottom: 10px;
}
.div_acc ul li .fas {
  font-size: 2em;
  float: left;
  margin-top: -8px;
}
.div_acc ul li p {
  margin-left: 20px;
}

@media SCREEN and (min-width: 768px) {
  .div_acc_prez::before {
    background-position-y: -5em;
  }
  .div_acc_prez h1 {
    font-size: 3em;
  }
  .accueillir {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .accueillir > div {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .div_acc {
    padding: 0;
  }
  .div_acc > * {
    margin-bottom: 10px;
  }
  .div_acc ul li .fas {
    font-size: 3em;
    margin-top: 1px;
    margin-right: 5px;
  }
  .div_acc ul li p {
    margin-left: 30px;
  }
  .accueillir > div:first-child > p, .div_acc ul li p {
    text-align: left;
  }
  .div_acc > h2:first-child {
    text-align: left;
  }
}

@media SCREEN and (min-width: 1025px) {
  .div_acc_prez {
    height: 400px;
    font-size: 1.1em;
    margin-left: calc(-100vw / 2 + 1200px / 2 + 7.5px);
    margin-right: calc(-100vw / 2 + 1200px / 2 + 7.5px);
  }
  .div_acc_prez h1 {
    font-size: 4em;
  }

  /* .div_part_prez:before {
    background-position-y: 25%;
  } */
}
